function Square.new 0
push argument 0
pop field 0
push argument 1
pop field 1
push argument 2
pop field 2
call draw 1
return 
function Square.dispose 0
call Memory.deAlloc 1
push constant 0
return 
pop temp 0
function Square.draw 0
push constant 1
neg
call Screen.setColor 1
push field 0
push field 1
push field 0
push field 2
add
push field 1
push field 2
add
call Screen.drawRectangle 4
push constant 0
return 
pop temp 0
function Square.erase 0
push constant 0
call Screen.setColor 1
push field 0
push field 1
push field 0
push field 2
add
push field 1
push field 2
add
call Screen.drawRectangle 4
push constant 0
return 
pop temp 0
function Square.incSize 0
push field 1
push field 2
add
push constant 254
push field 0
push field 2
add
push constant 510
and
not
if-goto L0
call erase 1
push field 2
push constant 2
add
pop field 2
call draw 1
goto L1
label L1
push constant 0
return 
pop temp 0
function Square.decSize 0
push field 2
push constant 2
gt
not
if-goto L2
call erase 1
push field 2
push constant 2
sub
pop field 2
call draw 1
goto L3
label L3
push constant 0
return 
pop temp 0
function Square.moveUp 0
push field 1
push constant 1
gt
not
if-goto L4
push constant 0
call Screen.setColor 1
push field 0
push field 1
push field 2
add
push constant 1
neg
push field 0
push field 2
add
push field 1
push field 2
add
call Screen.drawRectangle 4
push field 1
push constant 2
sub
pop field 1
push constant 1
neg
call Screen.setColor 1
push field 0
push field 1
push field 0
push field 2
add
push field 1
push constant 1
add
call Screen.drawRectangle 4
goto L5
label L5
push constant 0
return 
pop temp 0
function Square.moveDown 0
push field 1
push field 2
add
push constant 254
not
if-goto L6
push constant 0
call Screen.setColor 1
push field 0
push field 1
push field 0
push field 2
add
push field 1
push constant 1
add
call Screen.drawRectangle 4
push field 1
push constant 2
add
pop field 1
push constant 1
neg
call Screen.setColor 1
push field 0
push field 1
push field 2
add
push constant 1
neg
push field 0
push field 2
add
push field 1
push field 2
add
call Screen.drawRectangle 4
goto L7
label L7
push constant 0
return 
pop temp 0
function Square.moveLeft 0
push field 0
push constant 1
gt
not
if-goto L8
push constant 0
call Screen.setColor 1
push field 0
push field 2
add
push constant 1
neg
push field 1
push field 0
push field 2
add
push field 1
push field 2
add
call Screen.drawRectangle 4
push field 0
push constant 2
sub
pop field 0
push constant 1
neg
call Screen.setColor 1
push field 0
push field 1
push field 0
push constant 1
add
push field 1
push field 2
add
call Screen.drawRectangle 4
goto L9
label L9
push constant 0
return 
pop temp 0
function Square.moveRight 0
push field 0
push field 2
add
push constant 510
not
if-goto L10
push constant 0
call Screen.setColor 1
push field 0
push field 1
push field 0
push constant 1
add
push field 1
push field 2
add
call Screen.drawRectangle 4
push field 0
push constant 2
add
pop field 0
push constant 1
neg
call Screen.setColor 1
push field 0
push field 2
add
push constant 1
neg
push field 1
push field 0
push field 2
add
push field 1
push field 2
add
call Screen.drawRectangle 4
goto L11
label L11
push constant 0
return 
pop temp 0
